@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.hero{
    min-height: 100vh;
    position: fixed;
    background-image: url(../../../public/images/hero.webp) ;
    background-size:cover ;
    // top: 0;
    .text{
        position: absolute;
        top: 30%;
        left: 10rem;
        font-size: 7rem;
        font-family: 'Dancing Script', cursive;
        font-weight: 900;
        color: rgba(117, 65, 12, 0.784);
    }
}

.text_box{
    width: 120%;
    height: 110vh;
    background: rgba(255, 255, 255, 0.405);
    backdrop-filter: blur(0.2rem);
    transform: translateX(-100vh) rotateZ(-50deg);
}
.searchRes{
    width: 100%;
    min-height: 110vh;
    background: white;
    transform: translateY(calc(100vh - 6rem));
    border-radius: 6rem 6rem 0 0;
    .heading{
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
        padding: 2rem 0;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;

        .card{
            width: 26%;
            margin: 2rem auto;
            box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.2);
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            .image{
                width: 90%;
                margin: auto;
                aspect-ratio: 0.65;
                object-fit: contain;
            }
        }
        .card:hover{
            box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.2);
        }

        @media screen and (max-width: 1000px) {
            .card{
                width: 45%;
            }
            
        }
        @media screen and (max-width: 600px) {
            .card{
                width: 65%;
            }
            
        }
    }
}